@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-left">
    <h1 class="display-4">Somali Pirate Simulator</h1>
    <p>This program simulates the movements of patrol, cargo, and pirate ships off the coast of Somalia.</p>
</div>

<iframe src="https://ncw0009.github.io" height="700" width="1000" title="Iframe Example"></iframe>

<div class="text-left">
    <h1 class="display-4">About</h1>
    <p>This program was written for CS 499-03 in Spring 2023 at the University of Alabama Huntsville.</p>
    <p>The simulator was developed in Unity.</p>
    <p>The webpage is written with .NET and C#</p>
</div>
